*{
    margin: 0;
    padding: 0;
}
/* h1{
    color: blue;
} */
h2{
    color:green;
}
p{
    color: #2E86C1;
}
body{
    background-color: #f5f5f5;
    align-items: center;
}
h3{
    color:#f5f733
}
h4{
    color: #28b463;
}
footer{
    color: #34495f;
}
#heading{
    color:rgb(255,0,0);
    
}
#paragraph{
    color:rgb(0,128,0);
    background-color:rgb(245,245,245);
}