/* @import url(skills.html); */
/* @import url(project.html); */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.parent a {
    color: #f4e5ed;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 1rem
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;


}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 600px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
}

nav ul li a:hover {
    color: rgb(198, 225, 134);
    text-decoration: underline;
}



main {
    padding: 1rem 2rem;
    background-color: #f9f9f9;/
    /* display: flex: 3;;
  justify-content: space-around;
  align-items: center; */
}

/* main  section img{
  margin-left: 900px;;

} */
main form {
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 600px;
}



aside {
    background-color: #e2e2e2;
    padding: 1rem;
    margin: 1rem 2rem;
    /* margin: 1vh; */
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
} */

.profile-img {
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    justify-content: center;
}

/* .Lahari:hover{
  scale: 1.5px;
} */
 footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-icons a:hover {
  color: #ffcc00;
}

.footer-icons i {
  margin-right: 8px;
}
